<template>
    <div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Judul Film</th>
                <th>Tanggal Rilis</th>
                <th>Direktor</th>
                <th>Produser</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(datafilm, index) in films" :key="index" :datafilm="datafilm">
                <td>{{index+1}}</td>
                <td>{{datafilm.title}}</td>
                <td>{{datafilm.release_date}}</td>
                <td>{{datafilm.director | upCaseFirst}}</td>
                <td>{{datafilm.producer}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'ListFilm',
  data () {
    return {
      films: null
    }
  },
  mounted () {
    axios
      .get('https://swapi.co/api/films/')
      .then(response => { this.films = response.data.results })
  }
}
</script>

<style scoped>
    table{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    td{
        padding: 10px;
    }
</style>
