<template>
  <div id="app">
  <h1>List Film</h1>
    <ListFilm></ListFilm>
  </div>
</template>

<script>
import ListFilm from './components/ListFilm'

export default {
  name: 'app',
  components: {
    ListFilm
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
